@import '../variables.scss';

.pin-container {
    width: 236px;
    position: relative;
    box-sizing: border-box;
    // display: block;
    margin: 15px;
    margin-bottom: 30px;

}

.pin-show-link {
    box-sizing: border-box;
    z-index: 10;
    display: block;
    width: 100%;
    height: auto;
    cursor: zoom-in;

    img.pin-image {
        width: 100%;
        height: auto;
        border-radius: 16px;
        box-sizing: border-box;
    }
}

.hidden-pin-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 2px);
    box-sizing: border-box;
    border-radius: 16px;
    opacity: 0;
}

.hidden-pin-layer:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
}

.pin-index-edit-button-container {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 8px;
    right: 5px;
    background: $gray-button;

    width: 30px;
    height: 30px;

    border-radius: 50%;
}

.pin-index-edit-button-content {
    width: 70%;
    height: 70%;
}


.pin-index-edit-button-container:hover {
    background: $gray-button-hover;
}

