@import '../variables.scss';

.pin-container {
    width: 236px;
    position: relative;
    box-sizing: border-box;
    margin: 15px;
}

.pin-show-link {
    box-sizing: border-box;
    z-index: 10;
    display: block;
    width: 100%;
    height: auto;
    cursor: zoom-in;

    img.pin-image {
        width: 100%;
        height: auto;
        border-radius: 16px;
        box-sizing: border-box;
        border: 0.5px solid rgb(231, 231, 231);
    }
}

.hidden-pin-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 16px;
    opacity: 0;
}

.hidden-pin-layer:hover {
    opacity: 1;
}

