.edit-pin-button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;

    a {
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.edit-pin-button:hover {
    width: 38px;
    height: 38px;
}

.show-edit-button-container {
    position: absolute;
    bottom: 8%;
    right: 5%;
}