@import '../variables.scss';

.nav-header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 16px;
}

.home-logo {
    display: flex;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 12px;
    align-items: center;

    .home-logo-link {
        color: #CC0000;
    }
}

.pinterest-logo {

    img {
        height: 40px;
    }
}

.bio-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 24px;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
}

.link-container {
    display: flex;
    box-sizing: border-box;
    margin: 16px;
    align-items: center;

    a:hover {
        text-decoration: underline;
    }
}
