main {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica;
    color: rgb(33, 25, 34);
    font-size: 12px;
    height: 100%;
    
}

a {
    text-decoration: none;
    color:rgb(33, 25, 34);
}

textarea, input {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica;
}

.app-content {
    padding-top: 80px;
}